<div id = "tab"><img src = "template/%default_theme%/zombtab.png" id = "tabimg"></div>
<div id = "active"><img src = "template/%default_theme%/client_c.png" id = ""></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=attack"><img src = "template/%default_theme%/attaque_a.png"  onmouseover = "this.src='template/%default_theme%/attaque_h.png'" onmouseout = "this.src = 'template/%default_theme%/attaque_a.png'"></a></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=log"><img src = "template/%default_theme%/log_a.png"  onmouseover = "this.src='template/%default_theme%/log_h.png'" onmouseout = "this.src = 'template/%default_theme%/log_a.png'"></a></div>
<div id = "wrapper"></div>
<div id = "zomblist">
<span class = "title">Zombies connectés</br>
<img src = "splitbar.png"></span>