a {
      text-decoration: none;
	  color:#34BEED
}

a:hover {
	text-decoration: none;
	color:#348eed
}

#bar
{
	background-image: url(dotline.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 1px;
}

#bottombar {
	position: relative;
	margin-left: 0px;
	margin-top:15%;
	width: 100%;
	height: 35px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #E5E5E5;
}

.tooltip {
	padding-top:10px;
	position:absolute;
	display:none;
	background: rgb(35, 35, 35);
	background: rgba(0, 0, 0, 0.7);
	background-image: -moz-linear-gradient(top,rgb(113, 113, 113),rgb(35, 35, 35));
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(113, 113, 113)),to(rgb(35, 35, 35)));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	box-shadow: 0 0 12px #333;
	font-family: 'Helvetica Neue', Arial, Helvetica;
	color:#FFFFFF;
	height:30px;
	width:310px;
	margin-top:-50px;
	margin-left:-160px;
	vertical-align: center;
	text-align:center;
}

#firefox:hover p {
	display:inline;
}

#chrome:hover p {
	display:inline;
}

#noaccount{
	font-family: Arial, Calibri;
	font-size: 100%;
	font-style: normal;
	font-weight:bold;
}

#contact{
	font-family: Tahoma, Arial;
	font-size: 100%;
	font-style: normal;
	font-weight:bold;
}

#forum {
	font-family: Tahoma, Arial;
	font-size: 100%;
	font-style: normal;
	font-weight:bold;
}

#login {
	margin-top:75px;
}

#mdp {
	margin-left:2px;
}

#connect {
	text-align:center;
	margin-top:17px;
	background-image:url(fond.png);
	background-repeat:no-repeat;
	background-position:center 45px;
}

#logo {
	text-align:center;
}

#error {
	text-align:center;
	margin-top:50px;
}