a {
      text-decoration: none;
	  color:#34BEED
}

a:hover {
text-decoration: none;
color:#348eed
}

textarea {
font-family:Consolas, Arial;
font-size:100%;
font-style: normal;
}

#clearlog {
	margin-top:10px;
	width:318px;
	height:30px;
	background-image: url(clearlog_a.png);
    background-position: bottom;
	background-repeat: no-repeat;

}

#clearlog:hover {
	background-image: url(clearlog_h.png);
    background-position: bottom;
	background-repeat: no-repeat;
}

#clearlog:active {
	background-image: url(clearlog_c.png);
    background-position: bottom;
	background-repeat: no-repeat;
}

#bar
{
	background-image: url(dotline.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 1px;
}

#active
{
	margin-top:50px;
}

#tab {
	margin-top:50px;
	background-image: url(fond3.png);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 75px;
}

#tabimg {
	margin-left:50px;
}

#contener {
	margin-top:-55px;
}

#contact{
font-family: Tahoma, Arial;
font-size: 100%;
font-style: normal;
font-weight:bold;
}

#forum {
font-family: Tahoma, Arial;
font-size: 100%;
font-style: normal;
font-weight:bold;
}

#logo {
text-align:center;
}

#erreurmsg {
text-align:center;
}

#logdata {
margin-left: 174px;
margin-top:-145px;
}

#error {
	text-align:center;
	margin-top:50px;
}

.lowlevel{
margin-top:10px;
border-radius: 5px;
border-color:#00bd00;
background-color:#00bd00;
width:75%;
}

.midlevel{
margin-top:10px;
border-radius: 5px;
border-color:#f1fa00;
background-color:#f1fa00;
width:75%;
}

.highlevel{
margin-top:10px;
border-radius: 5px;
border-color:#f10400;
background-color:#f10400;
width:75%;
}

#textinput {
	height: 300px;
	width:70%;
	margin-top: -80px;
	margin-left: 174px;
	border:2px solid black;
	border-width:2px;
	border-radius: 5px;
	border-color:#C0C0C0;
}

#splitbar {
margin-top:10px;
margin-left:-17.5%;
}

#buttonbar {
margin-left:174px;
}

#subbar {
margin-left:-4px;
}

#send {
margin-left:43%;
}